<%= form_with(model: tag_task) do |form| %>
  <% if tag_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag_task.errors.count, "error") %> prohibited this tag_task from being saved:</h2>

      <ul>
        <% tag_task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.text_field :tag_id %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
